          @property --rotate {
    syntax: "<angle>";
    initial-value: 45deg;
    inherits: false;
  }

@property --border-width {
    syntax: "width";
    initial-value: 1px 1px  4px 4px;
    inherits: false;
    }

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,500;1,700&display=swap');

:root {
    width: 100vw;
    --bug-color: #9AC11A;
    --bug-light: #CDE559;
    --bug-dark: #637D0A;
    --dark-color: #705848;
    --dark-light: #A29288;
    --dark-dark: #49392F;
    --dragon-color: #6A2EF9;
    --dragon-light: #9E6FFC;
    --dragon-dark: #460EA1;
    --electric-color: #FFD700;
    --electric-light: #FFE765;
    --electric-dark: #AF850F;
    --fairy-color: #FF7B9C;
    --fairy-light: #FFB4D0;
    --fairy-dark: #A44D64;
    --fighting-color: #D11412;
    --fighting-light: #E36760;
    --fighting-dark: #861815;
    --fighting-hover: #E36760;
    --fire-color: #FF6F00;
    --fire-light: #FFAC5F;
    --fire-dark: #A13F00;
    --flying-color: #8F7AFA;
    --flying-light: #B49BFF;
    --flying-dark: #604A9F;
    --ghost-color: #7D4AB0;
    --ghost-light: #AA89D3;
    --ghost-dark: #412465;
    --grass-color: #67D821;
    --grass-light: #8FEB7A;
    --grass-dark: #3C7E25;
    --ground-color: #E5B755;
    --ground-light: #F3D290;
    --ground-dark: #8F7533;
    --ice-color: #7BDADA;
    --ice-light: #ACEEEE;
    --ice-dark: #4D8D8D;
    --normal-color: #9C9C68;
    --normal-light: #CCCC92;
    --normal-dark: #5F5F37;
    --poison-color: #B300B3;
    --poison-light: #D657D6;
    --poison-dark: #662266;
    --psychic-color: #FF4664;
    --psychic-light: #FF85A1;
    --psychic-dark: #FF4664;
    --rock-color: #B89F24;
    --rock-light: #DCC767;
    --rock-dark: #766117;
    --steel-color: #A9A9C5;
    --steel-light: #C5C5E2;
    --steel-dark: #616178;
    --water-color: #4A7AFA;
    --water-light: #80A4FF;
    --water-dark: #2D4494;
}
// Bolder Versions
/* More vibrant SASS Variables - Poketype color palette */
    $poke-color: #8b0303;
    $bug-color: #9AC11A;
    $bug-light: #CDE559;
    $bug-dark: #637D0A;
    $dark-color: #705848;
    $dark-light: #A29288;
    $dark-dark: #49392F;
    $dragon-color: #6A2EF9;
    $dragon-light: #9E6FFC;
    $dragon-dark: #460EA1;
    $electric-color: #FFD700;
    $electric-light: #FFE765;
    $electric-dark: #AF850F;
    $fairy-color: #FF7B9C;
    $fairy-light: #FFB4D0;
    $fairy-dark: #A44D64;
    $fighting-color: #D11412;
    $fighting-light: #E36760;
    $fighting-dark: #861815;
    $fighting-hover: #E36760;
    $fire-color: #FF6F00;
    $fire-light: #FFAC5F;
    $fire-dark: #A13F00;
    $flying-color: #8F7AFA;
    $flying-light: #B49BFF;
    $flying-dark: #604A9F;
    $ghost-color: #7D4AB0;
    $ghost-light: #AA89D3;
    $ghost-dark: #412465;
    $grass-color: #67D821;
    $grass-light: #8FEB7A;
    $grass-dark: #3C7E25;
    $ground-color: #E5B755;
    $ground-light: #F3D290;
    $ground-dark: #8F7533;
    $ice-color: #7BDADA;
    $ice-light: #ACEEEE;
    $ice-dark: #4D8D8D;
    $normal-color: #9C9C68;
    $normal-light: #CCCC92;
    $normal-dark: #5F5F37;
    $poison-color: #B300B3;
    $poison-light: #D657D6;
    $poison-dark: #662266;
    $psychic-color: #FF4664;
    $psychic-light: #FF85A1;
    $psychic-dark: #FF4664;
    $rock-color: #B89F24;
    $rock-light: #DCC767;
    $rock-dark: #766117;
    $steel-color: #A9A9C5;
    $steel-light: #C5C5E2;
    $steel-dark: #616178;
    $water-color: #4A7AFA;
    $water-light: #80A4FF;
    $water-dark: #2D4494;



@mixin typegradient {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100vw;
    height: 1em;
    position: relative;
    z-index: 50;
}

@mixin typegradient-bottom {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100vw;
    height: 1em;
    position: relative;
    z-index: 50;
}


$types: ("grass",
"fire",
"fairy",
"water",
"rock",
"dark",
"ghost",
"ice",
"dragon",
"flying",
"steel",
"electric",
"poison",
"fighting",
"psychic",
"ground",
"bug",
"normal",
"grass");

$types-light: ("grass-light",
"fire-light",
"fairy-light",
"water-light",
"rock-light",
"dark-light",
"ghost-light",
"ice-light",
"dragon-light",
"flying-light",
"steel-light",
"electric-light",
"poison-light",
"fighting-light",
"psychic-light",
"ground-light",
"bug-light",
"normal-light");

$types: (
  'bug': (
    'color': $bug-color,
    'light': $bug-light,
    'dark': $bug-dark
  ),
  'dark': (
    'color': $dark-color,
    'light': $dark-light,
    'dark': $dark-dark
  ),
  'dragon': (
    'color': $dragon-color,
    'light': $dragon-light,
    'dark': $dragon-dark
  ),
  'electric': (
    'color': $electric-color,
    'light': $electric-light,
    'dark': $electric-dark
  ),
  'fairy': (
    'color': $fairy-color,
    'light': $fairy-light,
    'dark': $fairy-dark
  ),
  'fighting': (
    'color': $fighting-color,
    'light': $fighting-light,
    'dark': $fighting-dark,
    'hover': $fighting-hover
  ),
  'fire': (
    'color': $fire-color,
    'light': $fire-light,
    'dark': $fire-dark
  ),
  'flying': (
    'color': $flying-color,
    'light': $flying-light,
    'dark': $flying-dark
  ),
  'ghost': (
    'color': $ghost-color,
    'light': $ghost-light,
    'dark': $ghost-dark
  ),
  'grass': (
    'color': $grass-color,
    'light': $grass-light,
    'dark': $grass-dark
  ),
  'ground': (
    'color': $ground-color,
    'light': $ground-light,
    'dark': $ground-dark
  ),
  'ice': (
    'color': $ice-color,
    'light': $ice-light,
    'dark': $ice-dark
  ),
  'normal': (
    'color': $normal-color,
    'light': $normal-light,
    'dark': $normal-dark
  ),
  'poison': (
    'color': $poison-color,
    'light': $poison-light,
    'dark': $poison-dark
  ),
  'psychic': (
    'color': $psychic-color,
    'light': $psychic-light,
    'dark': $psychic-dark
  ),
  'rock': (
    'color': $rock-color,
    'light': $rock-light,
    'dark': $rock-dark
  ),
  'steel': (
    'color': $steel-color,
    'light': $steel-light,
    'dark': $steel-dark
  ),
  'water': (
    'color': $water-color,
    'light': $water-light,
    'dark': $water-dark
  )
);


@mixin infobg {
    margin-top: 20px;
    display: flex;
    width: 30%;
    justify-content: center;
}


@each $type,
$gradient in $types {
    .frontswitch-#{$type} {
        background-image:linear-gradient(--#{prefix}-rotate (var(#{$type}-color), from),
        gradient(var(#{$type}-dark), to));
        border-radius: .3rem;
        margin-left: 10px;
        &.inverse {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-image-source:linear-gradient(100deg,
            gradient(var(#{$type}-color), from),
            gradient(var(#{$type}-dark), to));
        }
    }
}

.Navbar_navbartitle {
    font-size: 60px;
    text-decoration: bold;
    font-family: 'Oxygen', sans-serif;
    color: white;
}

.tempcontainersprites {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    grid-row: auto;
    grid-template-areas: 'default info' 'default info' 'back back' 'pic3 pic4 pic5'
}

.shinyfront {
    display: inline-block;
    width: 200px;
}

.picdefault {
    display: inline-flex;
    align-items: flex-start;
    grid-area: default;
    position: relative;
    // z-index: 10;
    /* background-color: yellow; */
    min-width: 350px;
    width: 40%;
    animation-name: frontback;
    animation-duration: 2s;
}

.spriteback {
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.tempinfo {
    grid-area: info;
    width: 300px;
    height: 400px;
    background-color: sienna;
}

@mixin type-logo {
    position: relative;

    z-index: 10;
    pointer-events: none;
    margin-left: 5px;
    margin-right: 9px;
    // width: 100%;
    // max-width: 25px;
    width: 100%;
    //height: 128.57142857142858%;
    height: auto;
    max-height: 25px;
    margin-top: 0px;
    padding-right: 3px;
    align-self: center;
    align-items: center;
    // transform: translateY(0px) translateX(-1px);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}


@mixin type-name {
    position: relative;
    z-index: 12;
    pointer-events: none;
    // margin-left: 18px;
    padding-left: 8px;
    // margin-top: 5px;
    align-items: center;
    // min-width: 33px;
    // margin-bottom: 15.560000000000002px;
    // min-height: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    font-style: normal;
    font-family: Rubik;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    transform: translateY(0px) translateX(-1px);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

@mixin pokename {
    position: relative;
    z-index: 17;
    pointer-events: none;
    margin-left: 0px;
    width: 203px;
    min-width: 203px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* color: rgba(0, 0, 0, 1); */
    font-style: normal;
    font-family: Rubik;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(180deg, #126282 0%, #002f3d 33.85%);
    background-clip: text;
    text-decoration: shadow whitesmoke;
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.websiteBody {
    margin: 0;
}

#Page .Page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    // margin: 1rem 1rem 1rem 1rem;
    width: 100%;
    height: auto;
    pointer-events: auto;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;    
}

#Page {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // margin: 1rem 1rem 1rem 1rem;
    // width: 100%;
    // height: auto;
    // pointer-events: auto;
    // box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;    
}




.Page-outer {
    position: relative;
    display: flex;
    pointer-events: auto;
    z-index: 1;
    margin: 0;
    padding: 10px 10px;
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

#Page:hover #card-img {
    --angle: 40;
    position: relative;
    z-index: 14;
    pointer-events: none;
    margin-left: 0px;
    // width: 205px;
    // height: 203px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 203px;
    transform: translateX(-3px) translateY(-4px);
    /* content:url(images/card_img.png); */
    /* [2] Transition property for smooth transformation of images */
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    // opacity: 1;
    // box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
   
}

#Page:hover #card-img::before {
    --angle: 40;
    content: '';
    position: relative;
    z-index: 14;
    pointer-events: none;
    margin-left: 0px;
    // width: 205px;
    // height: 203px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 203px;
    transform: translateX(0px) translateY(0px);
    /* content:url(images/card_img.png); */
    /* [2] Transition property for smooth transformation of images */
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    // opacity: 1;
    // box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
   
}


#Page:hover #card-img::after {
    --angle: 40;
    content: '';
    position: relative;
    z-index: 14;
    pointer-events: none;
    margin-left: 0px;
    // width: 205px;
    // height: 203px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 203px;
    transform: translateX(0px) translateY(0px);
    /* content:url(images/card_img.png); */
    /* [2] Transition property for smooth transformation of images */
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    // opacity: 1;
    // box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
   
}


#totalcard {
    // transform: scale(0);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

#totalcard:hover, #Page:hover #frame{
    // transform: scale(1);
    color: red;
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    // transition: transfrom .6s ease-in;
}



@mixin card-gradient {
    --borderWidth: 1px 1px 4px 4px;
    --cardheight: 
    position: relative;
    width: 104%;
    height: 102%;
    z-index: 5;
    pointer-events: none;
    margin-left: -1px;
    margin-top: -4px;
    // border: 1px;
    // border-color: lime;
    border-width: var(--borderWidth);
    animation-name: animatedgradient;
    // transform: var(--rotate);
    animation: 3s ease alternate infinite;
}


#Page:hover #card-bg-gradient-fighting{
    animation: rotateGradient-fighting 3.5s linear infinite;
}



.card-bg-gradient-outer {
    position: absolute;
    display: flex;
    pointer-events: none;
    z-index: 4;
    width: 101%;
    height: 100%;
    left: 0;
    top: 0;
}


.Frame {
    position: relative;
    z-index: 2;
    pointer-events: none;
    width: 101%;
    margin-left: 0;
    max-width: 252px;
    margin: inherit;
    padding: 0;
    background: linear-gradient( 151.98deg, rgba(250, 250, 250, 1) 41.051563958595864%, rgb(236, 235, 235) 85.82368021521708%);
    // filter:  
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}


.Frame-outer {
    position: relative;
    display: flex;
    pointer-events: none;
    z-index: 2;
}

.frame-card-outline {
    position: relative;
    z-index: 3;
    pointer-events: none;
    margin-left: 0px;
    width: 252px;
    min-width: 252px;
    height: 285px;
    margin-top: 0px;
    margin-bottom: 5px;
    min-height: 285px;
}

.frame-card-outline-outer {
    position: relative;
    display: flex;
    pointer-events: none;
    z-index: 3;
}

.Frame-card-elements {
    position: relative;
    z-index: 5;
    pointer-events: none;
    margin-left: 0.3968253968253968%;
    width: 99.2063492063492%;
    height: 100%;
    margin-top: 1.1904761904761905%;
}

.Frame-card-elements-outer {
    position: absolute;
    display: flex;
    pointer-events: none;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}



.frame-card-bg-white {
    position: relative;
    z-index: 6;
    pointer-events: none;
    margin-left: 0px;
    width: 252px;
    min-width: 250px;
    height: 285px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 285px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);
    border-radius: 1px 1px 4px 4px;

    & ::before {
        content: '';
        transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;

    }

    & ::after {
        content: '';
        transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;

    }
}

.frame-card-bg-white {
    position: relative;
    z-index: 6;
    pointer-events: none;
    margin-left: 0px;
    width: 252px;
    min-width: 250px;
    height: 285px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 285px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: background 200ms ease-in-out, transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
    background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);
    border-radius: 1px 1px 4px 4px;

    &:hover {  
        transition: background 200ms ease-in-out, transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
    }

    &::before {
        content: '';
        transition: transform 200ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    }

    &::after {
        content: '';
        transition: transform 200ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    }
}

.frame-card-bg-white-outer {
    position: absolute;
    display: flex;
    pointer-events: none;
    z-index: 6;
}

.frame-card-img {
    display: flex;
    position: relative;
    z-index: 13;
    pointer-events: none;
    // width: 100%;
    // height: 100%;
    // align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.frame-card-img-outer {
    position: relative;
    display: flex;
    pointer-events: none;
    z-index: 14;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 285px;
}

.card-img {
    position: relative;
    z-index: 140;
    pointer-events: none;
    // margin-left: 0px;
    // width: 200px;
    // height: auto;
    transform: translateY(0px) translateX(0px);
    /* [2] Transition property for smooth transformation of images */
    transition: transform 250.0ms ease-in-out 250ms, box-shadow 200ms ease-in-out 250ms;
    // opacity: 1;
}

.card-img-outer {
    position: relative;
    display: flex;
    pointer-events: none;
    z-index: 14;
    justify-content: center;
    height: 70%;
    width: 150px;
    // padding-bottom: 5px;
}

.frame-pokemon-name {
    position: relative;
    z-index: 15;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 250px;
    height: 45px;
    margin-top: 224px;
}

.frame-pokemon-name-outer {
    position: absolute;
    display: flex;
    pointer-events: none;
    z-index: 15;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
}

.card-frame-name {
    position: relative;
    z-index: 16;
    pointer-events: none;
    margin-left: 24px;
    width: 203px;
    min-width: 203px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 7px;
    min-height: 30px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
}

.card-frame-name-outer {
    position: relative;
    display: flex;
    pointer-events: none;
    z-index: 16;
}

.poke-name,
.poke-name-grass,
.poke-name-fire,
.poke-name-fairy {
    @include pokename;
}

.poke-name-fire {
    @include pokename;
}

#Page:hover .poke-name {
    transform: translateY(-2px) translateX(-2px);
    transition: transform 200.0ms ease-in-out 200.967ms,
                box-shadow 200ms ease-in-out 0.967ms;
}

.poke-name-outer {
    position: relative;
    display: flex;
    pointer-events: none;
    z-index: 17;
}

.frame-type-logo-name {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    z-index: 7;
    pointer-events: none;
    height: 100%;
    margin-top: 0px;
    padding-right: 2px;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.logo-name-parent-frame {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    z-index: 5000;
    width: 100%;
    /* align-content: center; */
    top: 0;
    left: 0;
    /* height: 100%; */
    margin-top: 20px;
}

.frame-type-logo-name-outer {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    pointer-events: none;
    z-index: 7;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // padding-right: 50px;
    margin-right: 4px;
}

.frame-type-name {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 11;
    pointer-events: none;
    width: 100%;
    min-width: 40px;
    height: 45.56px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 45.56px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.frame-type-name-outer {
    position: relative;
    display: flex;
    pointer-events: none;
    z-index: 11;
}

.TYPENAME {
    @include type-name;
    color: #09bac7;
}

#Page:hover .TYPENAME {
    transform: translateY(0px) translateX(-1px);
    transition: transform 200ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

#Page:hover type-logo {
    transform: translateY(0px) translateX(-1px);
    overflow: visible;
    transition: transform 200ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

.TYPENAME-logo {
    position: relative;
    display: inline-block;
    z-index: 8;
    pointer-events: none;
    margin-left: 20px;
    // width: 28px;
    // min-width: 25px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    overflow: visible;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    
}


.TYPENAME-logo-outer {    position: relative;
    display: flex;
    pointer-events: auto;
    z-index: 8;
    width: 100%;
    align-items: center;
    // padding-right: 5px;
    // margin-right: 5px;
    justify-content: flex-start;

}

.Frame-4 {
    // display: flex;
    position: relative;
    z-index: 9;
    pointer-events: none;
    margin-left: 0px;
    width: 100%;
    min-width: 25px;
    height: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 28px;
    align-items: center;
}

.Frame-4-outer {
    position: relative;
    // display: flex;
    pointer-events: none;
    z-index: 9;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-left: 5px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

}



.type-logo-TYPENAME {
    @include type-logo;
    content: url(images/type_c21_fire.svg);
}

#type-logo-TYPENAME-fire {
    @include type-logo;
    content: url(images/type_c21_fire.svg);
}

.TYPENAME-logo-fire {
    @include type-logo;
    content: url(images/type_c21_fire.svg);
}

#type-logo-TYPENAME-fairy {
    @include type-logo;
    content: url(images/type_c21_fairy.svg);
}

#type-logo-TYPENAME-grass {
    @include type-logo;
    content: url(images/type_c21_grass.svg);
}

#type-logo-TYPENAME-dark {
    @include type-logo;
    content: url(images/type_c21_dark.svg);
}

#type-logo-TYPENAME-bug {
    @include type-logo;
    content: url(images/type_c21_bug.svg);
}

#type-logo-TYPENAME-dragon {
    @include type-logo;
    content: url(images/type_c21_dragon.svg);
}

#type-logo-TYPENAME-electric {
    @include type-logo;
    content: url(images/type_c21_electric.svg);
}

#type-logo-TYPENAME-fighting {
    @include type-logo;
    content: url(images/type_c21_fighting.svg);
}

#type-logo-TYPENAME-flying {
    @include type-logo;
    content: url(images/type_c21_flying.svg);
}

#type-logo-TYPENAME-ghost {
    @include type-logo;
    content: url(images/type_c21_ghost.svg);
}

#type-logo-TYPENAME-ground {
    @include type-logo;
    content: url(images/type_c21_ground.svg);
}

#type-logo-TYPENAME-ice {
    @include type-logo;
    content: url(images/type_c21_ice.svg);
}

#type-logo-TYPENAME-normal {
    @include type-logo;
    content: url(images/type_c21_normal.svg);
}

#type-logo-TYPENAME-poison {
    @include type-logo;
    content: url(images/type_c21_poison.svg);
}

#type-logo-TYPENAME-psychic {
    @include type-logo;
    content: url(images/type_c21_psychic.svg);
}

#type-logo-TYPENAME-rock {
    @include type-logo;
    content: url(images/type_c21_rock.svg);
}

#type-logo-TYPENAME-steel {
    @include type-logo;
    content: url(images/type_c21_steel.svg);
}

#type-logo-TYPENAME-water {
    @include type-logo;
    // max-width: 18px;
    content: url(images/type_c21_water.svg);
}

.type-logo-TYPENAME-outer {
    position: absolute;
    display: flex;
    pointer-events: none;
    z-index: 10;
    height: 100%;
    left: 0;
    top: 0;
}


#Page:hover::after #Frame{
    opacity: 1;
    color: #ff0000;
}

#Frame{
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.5);
    // transform: translate(0, 0);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;

   }
   

//Card Hover Movement //
#Page:hover #Frame {
    // content: '';
    // position: absolute;
    // z-index: -50;
    transform: translate(-1px, -2px);
    box-shadow: 5px 15px 20px 3px rgba(0, 0, 0, 0.25);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

#Page:hover::after #Frame {
    content: '';
    // position: absolute;
    // z-index: -50;
    // height: 100%;
    // width: 100%;
    // opacity: 0;
    // transform: translateY(-5px) translateX(-5px);
    // box-shadow: 0px 7.5px 10px 0px rgba(0, 0, 0, 0.25);
    // color: #ff0000;
    // width: 102%;
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

#Page:hover .Frame-outline-outer {
    width: 150%;
    height: 100%;
    display: flex;
    color: #fd0000;
    border-width: 10px;
}

// HOVER ON TYPE LOGO //
#Page:hover div[class^='type-logo-TYPENAME-'], div[className='type-logo-TYPENAME-*'] {
    transform: translateY(0px) translateX(-1px);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

// HOVER ON TYPE LOGO //
#Page:hover div[class^='type-logo-'], div[className='type-logo-*'] {
    transform: translateY(0px) translateX(-1px);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}


#Page:hover #Page::after {
    // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.169);
    color: rgba(0, 0, 0, 0.25);
    border-width: 10px;
    border-color: red;
    // transform: translateY(0px) translateX(-1px);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
}

// #Page:hover .Page {
//     transition: opacity .3s ease-in-out;
// }



// #Frame {
//     // box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
//     width: 102%;
//     transition: transform .3s ease;
//     // background-color: rgba(0, 0, 0, 0.54);
//     // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

// }

.Page {
    width: 100%;
    height: 100%;
    // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
// #Page:hover #Frame {
//     content: '';
//     position: absolute;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     box-shadow: 0 5px 30px rgba(0,0,0,0.3);
//     transition: opacity 0.5s ease-in-out;

// }


   /* Frame (hover) */
//    #Frame:hover{
//     max-width:100%;
//    }
   
   /* Body */
   body{
    left:1px;
   }
   
   /* Image (hover) */
//    #Page:hover img {
//     transform: translatex(-1px) translatey(-2px);
//     transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
//    }
   
   /* Span Tag (hover) */
   div > span:hover{
    // transform:scale(1.0) rotateX(0deg) rotateY(0deg) translatex(0px) translatey(-1px);
    transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
   }
   
   /* Span Tag (hover) */
   #Page span span:hover{
    // transform:scale(0.52);
    transition: transform 200ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
   }


#loadingDiv {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    }

#loadingDivPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#loadingPokemon {
display: block;
justify-content: center;
align-items: center;
max-width: 200px;
max-height: 200px;
} 

#loadingh2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
}



.frame-card-img {
    position: relative;
    z-index: 13;
    pointer-events: none;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* List */
#pagination ul{
    display:inline-flex;
    justify-content:center;
    margin-bottom:0px;
    height:24px;
    position:relative;
    left:0px;
    font-family:'Rubik', sans-serif;
    font-weight:500;
    text-shadow:none;
    text-transform:uppercase;
    word-spacing:0.7px;
    letter-spacing:-0.5px;
    column-count:1;
    border-style:none;
    margin-top:1px;
    align-items:baseline;
   }
   
   /* Link */
   #pagination .previous a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    height:15px;
   }
   
   /* List Item */
   #pagination ul li{
    height:20px;
    display:inline-flex;
    position:relative;
    justify-content:center;
   }
   
   /* Previous */
   #pagination ul .previous{
    align-items:baseline;
    font-size:12px;
    font-weight:500;
    width:77px;
    line-height:0px;
    padding-right:2px;
    align-self:baseline;
    height:9px;
   }
   
   /* Link */
   #pagination ul a{
    padding-left:5px;
    padding-right:5px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
   }
   
   /* Next */
   #pagination ul .next{
    transform:translatex(0px) translatey(0px);
    width:58px;
    top:0px;
    bottom:0px;
    right:0px;
    margin-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-size:12px;
    word-spacing:2.1px;
    letter-spacing:0.3px;
    font-weight:500;
    height:15px;
    justify-content:center;
    align-items:baseline;
   }
   
   /* Link */
   #pagination .next a{
    transform:translatex(0px) translatey(0px);
    height:15px;
    display:flex;
   }
   
   /* Pagination */
   #pagination{
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
   }
   
   /* Link */
   #__next .container-fluid .row .col div div .btn-div-border #pagination ul .previous a{
    width:77px !important;
   }
   
   /* Link */
   #__next .container-fluid .row .col div div .btn-div-border #pagination ul .next a{
    width:58px !important;
   }
   
   /* Div border */
//    .container-fluid div .btn-div-border{
//     display:flex;
//     justify-content:space-around;
//     margin-bottom: 10px;
//     padding-bottom: 10px;
//     margin-top: 5px;
//    }f
   
   /* Link (active) */
   #pagination ul a:active{
    font-weight:500;
    color: red;
   }
   
   /* Division (hover) */
// div:nth-child(2) > div:nth-child(2) > div:nth-child(1):hover{
//     transform: translatex(-5px) translatey(-5px);
//     width:auto;
//     opacity: .5;
//    }
   
   /* Division */
    #__next .container-fluid .row:nth-child(2) .col div:nth-child(1) div:nth-child(1) div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
        // width:auto !important;
    }
    
    /* Frame outer (hover) */
    #Page:hover #Frame-outer::after {
        transform: translatex(0px) translatey(-0px);
        opacity: 0;
        transition: transform 200.0ms ease-in-out 200ms, box-shadow 200ms ease-in-out 200ms;
    }

    #Page:hover .Frame-card-outline .frame-card-outline-outer {
        width: 150%;
        background-color: red;
        border-width: 10px;
        border-color: red;
    }

    //    @each $type in $types {
    //     #card-bg-gradient-#{$type} {};
    //     //   width: 102%;
    //     //   height: 104%;
    //       background-size: 600% 600%;
    //         --borderWidth: 8px;
    //     //   background-image: linear-gradient(
    //     //       to bottom,
    //     //       var(--#{$type}-light),
    //     //       var(--#{$type}-dark)
    //     //   );
    //       border: var(--borderWidth) solid var(--#{$type}-dark);
    //       border-radius: 4px;
    //       box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    //       background: linear-gradient(
    //           --rotate,
    //           var(--#{$type}-color) 9.79%,
    //           var(--#{$type}-light) 21.97%,
    //           var(--#{$type}-dark) 41.76%
    //       );
    //       z-index: 500;
    //       @include card-gradient;
    //     }
    
    //     #Page:hover #card-bg-gradient-#{$type} {
    //       animation: rotateGradient 3.5s linear infinite;
    //     }
    //   }




    // #Page:hover #card-bg-gradient-fire::before {
    //     content: "";
    //     --card-height: 104%;
    //     width: 104%;
    //     height: 104%;
    //     border-radius: 4px;
    //     background: linear-gradient(var(--rotate), $fire-color 9.79%, $fire-light 21.97%, $fire-dark 41.76%);
    //     animation: rotateGradient-fire 3.5s linear infinite;    
    //     position: absolute;
    //     z-index: -1;
    //     top: -1%;
    //     left: -4px;
    //     filter: blur(20px);
    // }





    @each $type, $shades in $types {
        $type-color: map-get($shades, 'color');
        $type-light: map-get($shades, 'light');
        $type-dark: map-get($shades, 'dark');

        #type-logo-TYPENAME-#{$type} {
            @include type-logo;
            content: url(images/type_c21_#{$type}.svg);
        }

        .type-gradient-#{$type} {
            @include typegradient;
            background: linear-gradient(121.52deg, $type-color 9.79%, $type-dark 24.44%, $type-light 65.12%);
        }

        //bottom gradient bar //
        .type-gradient-#{$type}-bottom {
            @include typegradient-bottom;
            height: 1em;
            background: linear-gradient(121.52deg, $type-color 9.79%, $type-dark 24.44%, $type-light 65.12%);
        }


        #Page:hover #poke-name-#{$type} {
            background: linear-gradient(180deg, $type-color 0%, #082b1e 59.9%);
            background-clip: text;
        }

        #TYPENAME-#{$type} {
            @include type-name;
            // margin-top: 10px;
            // margin-left: 12px;
            color: $type-color;
        }

        #card-bg-gradient-#{$type}{
            @include card-gradient;
            // background-size: 600% 600%;
            --borderWidth: 1px 1px 4px 4px;
            // background-image: linear-gradient(
            //     to bottom,
            //     var(--fire-light),
            //     var(--fire-dark)
            // );
            border-width: --borderWidth;
            // border: var(--borderWidth) solid var(--fire-dark);
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            background: linear-gradient(var(--rotate), $type-color 9.79%, $type-light 21.97%, $type-dark 41.76%, $type-light 60.23%, $type-color 72.21%);
            background-size: 200% 100%;
        }
        #Page:hover #card-bg-gradient-#{$type} {
            background: linear-gradient(var(--rotate), $type-color 9.79%, $type-light 21.97%, $type-dark 41.76%, $type-light 60.23%, $type-color 72.21%);
            background-size: 200% 100%;
        
            animation: rotateGradient-#{$type} 3.5s linear infinite;
        
            
        }

        #Page:hover #card-bg-gradient-#{$type}::before {
            content: "";
            --card-height: 104%;
            width: 104%;
            height: 104%;
            border-radius: 4px;
            background: linear-gradient(var(--rotate), $type-color 9.79%, $type-light 21.97%, $type-dark 41.76%, $type-light 60.23%, $type-color 72.21%);
            background-size: 200% 100%;
            animation: rotateGradient-#{$type} 3.5s linear infinite;
            position: absolute;
            z-index: -1;
            top: -1%;
            left: -4px;
            filter: blur(20px);
        }

        #Page:hover #card-bg-gradient-#{$type}::after {
            content: '';
            @include card-gradient;
            --#{$type}-bold: hsl(from #{$type-color}) h s calc(l - 80%); 
            --card-height: 104%;
            // background-size: 600% 600%;
            --borderWidth: 1px 1px 4px 4px;
            // background-image: linear-gradient(
            //     to bottom,
            //     var(--fire-light),
            //     var(--fire-dark)
            // );
            border-width: --borderWidth;
            // border: var(--borderWidth) solid var(--fire-dark);
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            background: linear-gradient(var(--rotate), $type-color 9.79%, $type-light 21.97%, $type-dark 41.76%, $type-light 60.23%, $type-color 72.21%);
            background-size: 200% 100%;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            height: 102%;
            width: 102%;
            margin: 0 auto;
            transform: scale(0.8);
            filter: blur(calc(var(--card-height) / 63));
            animation: rotateGradient-#{$type} 3.5s linear infinite;
            transition: opacity .5s;
        }
        
      
        @keyframes rotateGradient-#{$type} {
            0% {
              background-position: 0% 50%;
            }
            100% {
              background-position: 100% 50%;
            }
          }
          

        .icon-container {
          z-index: 4000;
          position: relative;
          display: inline-block;
          overflow: hidden; // Hide the overflowing "light" element
        }
        
        .icon {
          z-index: 4000;
          width: 50px;
          height: 50px;
          content: url(/shinyblack.svg);
        }
        
        .light {
          z-index: 4000;
          position: absolute;
          top: 0;
          left: -100%; // Start outside the icon
          width: 100%;
          height: 100%;
          background: radial-gradient(circle, $type-light, rgba(255, 255, 255, 0)); // Use Sass variable
          opacity: 0;
          animation: ripple 5s infinite ease-in-out;
        }
        
        @keyframes ripple {
          0% {
            left: -100%;
            opacity: 0;
          }
          25% {
            opacity: 1;
          }
          50% {
            left: 100%;
            opacity: 0;
          }
          75% {
            opacity: 1;
          }
          100% {
            left: -100%;
            opacity: 0;
          }
        }

/* Container fluid */
#__next .container-fluid{
    background-color: none;
   
   }
   
   /* List */
   #pagination ul{
    align-items:center;
   }
   
   /* Div border */
   .container-fluid div .btn-div-border{
    width:100vw;
    display:inline-flex;
    justify-content:center;
    align-items:center;
   }
   
   /* Pagination */
   #pagination{
    justify-content:center;
   }
   
   body, Body, .div-container, root, container-fluid,  *.container-fluid {
    background: linear-gradient(to bottom,  #d6ebff, #9fc0e1);
   };


  
  
  col, div.col {
    background-color: none;
  }
  
  @each $type-light in $types-light  {
    #Page:hover #frame-card-bg-white-#{$type-light} {
        --bug-light: #CDE559;
        --dark-light: #A29288;
        --dragon-light: #9E6FFC;
        --electric-light: #FFE765;
        --fairy-light: #FFB4D0;
        --fighting-light: #E36760;
        --fire-light: #FFAC5F;
        --flying-light: #B49BFF;
        --ghost-light: #AA89D3;
        --grass-light: #8FEB7A;
        --ground-light: #F3D290;
        --ice-light: #ACEEEE;
        --normal-light: #CCCC92;
        --poison-light: #D657D6;
        --psychic-light: #FF85A1;
        --rock-light: #DCC767;
        --steel-light: #C5C5E2;
        --water-light: #80A4FF;
        transition: background 200ms ease-in-out, transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
        background-image: radial-gradient(circle at 50%, rgb(255, 255, 255), var(--#{$type-light}));
        filter: brightness(150%);
        }
    }
}

/* List */
#pagination ul{
    display:inline-flex;
    align-self:center;
    padding-left:0px;
    background-color:transparent;
   }
   
   /* Link */
   #pagination .previous a{
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-bottom:13px;
    padding-top:0px;
    min-height:24px;
    position:relative;
    cursor: pointer;
   }
   
   /* Col */
   .container-fluid .col{
    display:flex;
    justify-content:center;
    align-items:center;
   }
   
   /* Link */
   #__next .container-fluid .row .col div div .btn-div-border #pagination ul .previous a{
    height:100% !important;
   }
   
   /* Link */
   #pagination .next a{
    margin-bottom:0px;
    height:100%;
    position:relative;
    min-height:24px;
    display:inline-flex;
    flex-direction:column;
    cursor: pointer;
   }
   
   /* Next */
   #pagination ul .next{
    height:100%;
    min-height:24px;
   }
   
   /* Link (active) */
   #pagination li:active{
    border-width: 1px;
    border-radius: 10px;
    color:#9b9ef2;
   }
   
   #pagination li:disabled {
    border-width: 1px;
    border-radius: 10px;
    color:#9b9ef2;
   }
   
   /* Navbar */
   .container-fluid .row .col > .navbar{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Link */
   #pagination li:nth-child(2) a{
    color:#050505;
   }

   
   /* Link (hover) */
   #pagination li a:hover{
    color:#7b4141;
    cursor: pointer;
    border-bottom-width:1px;
    border-bottom-style:solid;
   }

   .paginate-inactive {
    color: darkgray;
    border-width: 1px;
    border-radius: 10px;
    border-color: $poke-color;
   }

   #search-div {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
   }

   #search-box {
    border-width: 2px;
    border-color: $poke-color;
    border-radius: 4px;

   }

   /* Division */
.container-fluid .row .col > div > div{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Div border */
   .container-fluid div .btn-div-border{
    flex-direction:column;
   }
   
   /* Search div */
   #search-div{
    width:auto !important;
   }


   .logo-frame {
        display: inline-flex;
        padding: 3px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
   }

   .logo-frame-text {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        position: absolute;
        right: 17.76px;
        top: 17px;
   }

   .logo-outline {
        width: 421px;
        height: 102px;
   }

   .poke {
        width: 136.601px;
        height: 44.448px;
        transform: rotate(-3.707deg);

        position: absolute;
        left: 0px;
        top: 0px;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Rubik;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        background: linear-gradient(93deg, #FFFEFE 26.35%, #EEEBEB 82.62%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
   }

   .com {
        width: 58px;
        height: 26px;
        transform: rotate(0.534deg);

        position: absolute;
        right: 0px;
        bottom: 7.73px;

        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Rubik;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .decks {
        width: 162.809px;
        height: 54.154px;
        transform: rotate(2.628deg);

        position: absolute;
        right: 58.119px;
        bottom: 0px;

        text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
        font-family: Rubik;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        background: linear-gradient(93deg, #FFDE00 40.69%, #E2C70C 83.75%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
