@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Signika+Negative:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
/* More vibrant SASS Variables - Poketype color palette */
.poke-temp-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.poke-temp-container {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  top: 20px;
  width: 100vw;
}

.temp-container {
  width: 100vw;
}

/* Shiny canvascss */
#shinyCanvasCSS {
  position: absolute !important;
  transform: translatex(254px) translatey(-198px);
  z-index: -5;
}

/* Shiny button */
#shinyDiv {
  display: flex;
  position: absolute;
  top: 100px;
  left: 400px;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
  padding: 0, 0;
}

html {
  width: 100vw;
  margin: 0, 0;
  padding: 0, 0;
}

.second-line-top-poke {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #8b0303;
}

.second-line-top-bug {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #9AC11A;
}

.second-line-top-dark {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #705848;
}

.second-line-top-dragon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #6A2EF9;
}

.second-line-top-electric {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FFD700;
}

.second-line-top-fairy {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FF7B9C;
}

.second-line-top-fighting {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #D11412;
}

.second-line-top-fire {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FF6F00;
}

.second-line-top-flying {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #8F7AFA;
}

.second-line-top-ghost {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #7D4AB0;
}

.second-line-top-grass {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #67D821;
}

.second-line-top-ground {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #E5B755;
}

.second-line-top-ice {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #7BDADA;
}

.second-line-top-normal {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #9C9C68;
}

.second-line-top-poison {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #B300B3;
}

.second-line-top-psychic {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FF4664;
}

.second-line-top-rock {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #B89F24;
}

.second-line-top-steel {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #A9A9C5;
}

.second-line-top-water {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #4A7AFA;
}

.second-line-bottom-poke {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #8b0303;
}

.second-line-bottom-bug {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #9AC11A;
}

.second-line-bottom-dark {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #705848;
}

.second-line-bottom-dragon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #6A2EF9;
}

.second-line-bottom-electric {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #FFD700;
}

.second-line-bottom-fairy {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #FF7B9C;
}

.second-line-bottom-fighting {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #D11412;
}

.second-line-bottom-fire {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #FF6F00;
}

.second-line-bottom-flying {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #8F7AFA;
}

.second-line-bottom-ghost {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #7D4AB0;
}

.second-line-bottom-grass {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #67D821;
}

.second-line-bottom-ground {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #E5B755;
}

.second-line-bottom-ice {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #7BDADA;
}

.second-line-bottom-normal {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #9C9C68;
}

.second-line-bottom-poison {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #B300B3;
}

.second-line-bottom-psychic {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #FF4664;
}

.second-line-bottom-rock {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #B89F24;
}

.second-line-bottom-steel {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #A9A9C5;
}

.second-line-bottom-water {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #4A7AFA;
}

.templateinfodiv-bug {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #637D0A;
  z-index: 200;
}

.templateinfodiv-dark {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #49392F;
  z-index: 200;
}

.templateinfodiv-dragon {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #460EA1;
  z-index: 200;
}

.templateinfodiv-electric {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #AF850F;
  z-index: 200;
}

.templateinfodiv-fairy {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #A44D64;
  z-index: 200;
}

.templateinfodiv-fighting {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #861815;
  z-index: 200;
}

.templateinfodiv-fire {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #A13F00;
  z-index: 200;
}

.templateinfodiv-flying {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #604A9F;
  z-index: 200;
}

.templateinfodiv-ghost {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #412465;
  z-index: 200;
}

.templateinfodiv-grass {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #3C7E25;
  z-index: 200;
}

.templateinfodiv-ground {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #8F7533;
  z-index: 200;
}

.templateinfodiv-ice {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #4D8D8D;
  z-index: 200;
}

.templateinfodiv-normal {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #5F5F37;
  z-index: 200;
}

.templateinfodiv-poison {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #662266;
  z-index: 200;
}

.templateinfodiv-psychic {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #FF4664;
  z-index: 200;
}

.templateinfodiv-rock {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #766117;
  z-index: 200;
}

.templateinfodiv-steel {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #616178;
  z-index: 200;
}

.templateinfodiv-water {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: translatex(-17px) translatey(-16px);
  border-color: #2D4494;
  z-index: 200;
}

#shinyDiv {
  position: absolute;
  top: 80px;
  left: 200px;
  z-index: 100;
}

.container-back {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: auto;
  background: linear-gradient(147.16deg, #FFFFFF 9.64%, #FFFFFF 9.65%, #F0F0F0 84.25%);
  background-size: cover;
  padding-right: 500px;
}

#imageSpark, #imageSparkCanvas {
  display: none;
}

#imageSparkCanvas {
  position: absolute;
  width: 256px;
  height: 256px;
  top: 48px;
  left: calc(50% - 128px);
  pointer-events: none;
}

#sparkleCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 48px;
  left: 150px;
  pointer-events: none;
}

.container-back-shiny {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: rgb(19, 0, 38);
  background: radial-gradient(ellipse at 35% 55%, rgb(19, 0, 38) 0%, rgb(98, 80, 181) 15%, rgb(172, 159, 233) 25%, rgb(213, 213, 218) 35%, rgb(255, 255, 255) 50%);
}

.backcontainer-shiny-grass {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(grass-color), from), gradient(var(grass-dark), to));
}
.backcontainer-shiny-grass.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(grass-color), from), gradient(var(grass-dark), to));
  background-clip: text;
}

.backcontainer-shiny-fire {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(fire-color), from), gradient(var(fire-dark), to));
}
.backcontainer-shiny-fire.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(fire-color), from), gradient(var(fire-dark), to));
  background-clip: text;
}

.backcontainer-shiny-fairy {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(fairy-color), from), gradient(var(fairy-dark), to));
}
.backcontainer-shiny-fairy.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(fairy-color), from), gradient(var(fairy-dark), to));
  background-clip: text;
}

.backcontainer-shiny-water {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(water-color), from), gradient(var(water-dark), to));
}
.backcontainer-shiny-water.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(water-color), from), gradient(var(water-dark), to));
  background-clip: text;
}

.backcontainer-shiny-rock {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(rock-color), from), gradient(var(rock-dark), to));
}
.backcontainer-shiny-rock.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(rock-color), from), gradient(var(rock-dark), to));
  background-clip: text;
}

.backcontainer-shiny-dark {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(dark-color), from), gradient(var(dark-dark), to));
}
.backcontainer-shiny-dark.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(dark-color), from), gradient(var(dark-dark), to));
  background-clip: text;
}

.backcontainer-shiny-ghost {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(ghost-color), from), gradient(var(ghost-dark), to));
}
.backcontainer-shiny-ghost.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(ghost-color), from), gradient(var(ghost-dark), to));
  background-clip: text;
}

.backcontainer-shiny-ice {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(ice-color), from), gradient(var(ice-dark), to));
}
.backcontainer-shiny-ice.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(ice-color), from), gradient(var(ice-dark), to));
  background-clip: text;
}

.backcontainer-shiny-dragon {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(dragon-color), from), gradient(var(dragon-dark), to));
}
.backcontainer-shiny-dragon.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(dragon-color), from), gradient(var(dragon-dark), to));
  background-clip: text;
}

.backcontainer-shiny-flying {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(flying-color), from), gradient(var(flying-dark), to));
}
.backcontainer-shiny-flying.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(flying-color), from), gradient(var(flying-dark), to));
  background-clip: text;
}

.backcontainer-shiny-steel {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(steel-color), from), gradient(var(steel-dark), to));
}
.backcontainer-shiny-steel.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(steel-color), from), gradient(var(steel-dark), to));
  background-clip: text;
}

.backcontainer-shiny-electric {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(electric-color), from), gradient(var(electric-dark), to));
}
.backcontainer-shiny-electric.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(electric-color), from), gradient(var(electric-dark), to));
  background-clip: text;
}

.backcontainer-shiny-poison {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(poison-color), from), gradient(var(poison-dark), to));
}
.backcontainer-shiny-poison.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(poison-color), from), gradient(var(poison-dark), to));
  background-clip: text;
}

.backcontainer-shiny-fighting {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(fighting-color), from), gradient(var(fighting-dark), to));
}
.backcontainer-shiny-fighting.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(fighting-color), from), gradient(var(fighting-dark), to));
  background-clip: text;
}

.backcontainer-shiny-psychic {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(psychic-color), from), gradient(var(psychic-dark), to));
}
.backcontainer-shiny-psychic.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(psychic-color), from), gradient(var(psychic-dark), to));
  background-clip: text;
}

.backcontainer-shiny-ground {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(ground-color), from), gradient(var(ground-dark), to));
}
.backcontainer-shiny-ground.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(ground-color), from), gradient(var(ground-dark), to));
  background-clip: text;
}

.backcontainer-shiny-bug {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(bug-color), from), gradient(var(bug-dark), to));
}
.backcontainer-shiny-bug.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(bug-color), from), gradient(var(bug-dark), to));
  background-clip: text;
}

.backcontainer-shiny-normal {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(normal-color), from), gradient(var(normal-dark), to));
}
.backcontainer-shiny-normal.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(normal-color), from), gradient(var(normal-dark), to));
  background-clip: text;
}

.backcontainer-shiny-grass {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(105deg, gradient(var(grass-color), from), gradient(var(grass-dark), to));
}
.backcontainer-shiny-grass.inverse {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(100deg, gradient(var(grass-color), from), gradient(var(grass-dark), to));
  background-clip: text;
}

.info-text {
  width: 100%;
  position: relative;
  font-size: 1em;
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  margin-left: 5px;
}

.p caption-bug {
  display: inline-flex;
  color: #637D0A;
}

.p caption-dark {
  display: inline-flex;
  color: #49392F;
}

.p caption-dragon {
  display: inline-flex;
  color: #460EA1;
}

.p caption-electric {
  display: inline-flex;
  color: #AF850F;
}

.p caption-fairy {
  display: inline-flex;
  color: #A44D64;
}

.p caption-fighting {
  display: inline-flex;
  color: #861815;
}

.p caption-fire {
  display: inline-flex;
  color: #A13F00;
}

.p caption-flying {
  display: inline-flex;
  color: #604A9F;
}

.p caption-ghost {
  display: inline-flex;
  color: #412465;
}

.p caption-grass {
  display: inline-flex;
  color: #3C7E25;
}

.p caption-ground {
  display: inline-flex;
  color: #8F7533;
}

.p caption-ice {
  display: inline-flex;
  color: #4D8D8D;
}

.p caption-normal {
  display: inline-flex;
  color: #5F5F37;
}

.p caption-poison {
  display: inline-flex;
  color: #662266;
}

.p caption-psychic {
  display: inline-flex;
  color: #FF4664;
}

.p caption-rock {
  display: inline-flex;
  color: #766117;
}

.p caption-steel {
  display: inline-flex;
  color: #616178;
}

.p caption-water {
  display: inline-flex;
  color: #2D4494;
}

.p caption-bug:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-dark:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-dragon:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-electric:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-fairy:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-fighting:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-fire:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-flying:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-ghost:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-grass:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-ground:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-ice:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-normal:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-poison:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-psychic:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-rock:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-steel:hover {
  display: inline-flex;
  font-size: 100px;
}

.p caption-water:hover {
  display: inline-flex;
  font-size: 100px;
}

.fliptext {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-style: bold;
  padding-left: 3px;
}

#sparkleImg::before {
  position: absolute;
  opacity: 0;
}

#sparkleImg::after {
  opacity: 0.6;
}

.sparkling-style-none {
  opacity: 0;
}

.sparkling-style-flash {
  opacity: 0.4;
}

/* Position the image container (needed to position the left and right arrows) */
/* Slidecontainer */
.topcontainer .slidecontainer {
  transform: translatex(-17px) translatey(-16px);
  justify-content: center;
}

.balls {
  border: 1px;
  border-color: green;
}

/* Spritecontainer */
.pagecontainer .spritecontainer {
  min-width: 20%;
  width: 20% !important;
  z-index: 10;
}

.pagecontainer-shiny {
  display: flex;
  align-content: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
}

.frontbackbuttons {
  display: inline-flex;
  justify-content: space-evenly;
  align-content: center;
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  flex-wrap: no-wrap;
  padding-top: 30px;
  cursor: pointer;
  z-index: 5000;
  height: auto;
  max-height: 30px;
}

/* Fbbutton */
.spritebuttoncontainer {
  align-items: center;
  background-color: transparent;
  transform: translatex(0px) translatey(0px);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  box-shadow: 0px 0px 6px -4px #5b0054;
  display: inline-flex;
  justify-content: space-between;
  z-index: 1500;
}

/* Heading */
.frontbackbuttons .fbbutton h2 {
  padding-left: 0px;
  height: auto;
  max-height: 15px;
  z-index: 5000;
  align-items: center;
  background-color: transparent;
  transform: translatex(0px) translatey(0px);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  box-shadow: 0px 0px 6px -4px #5b0054;
  display: inline-flex;
  justify-content: space-between;
  z-index: 50000;
}

/* Span Tag */
#__next .poke-temp-container div .temp-container .container-back .topcontainer .pagecontainer .slidecontainer .spritecontainer .spritebuttoncontainer .frontbackbuttons .fbbutton > span {
  height: 100% !important;
}

/* Image */
.fbbutton span span img {
  height: 16px !important;
}

/* Span Tag */
.fbbutton span span {
  height: 100% !important;
}

/* Templateinfodiv poison */
#__next .poke-temp-container div .temp-container .container-back .topcontainer .pagecontainer .slidecontainer .templateinfodiv-poison {
  border-left-width: 4px !important;
  border-bottom-width: 8px !important;
}

.backdefault {
  height: 100%;
  display: inline-flex;
  grid-area: default;
  /* background-color: yellow; */
  width: 300px;
  opacity: 0.8;
  z-index: 10;
}

#next:hover #picdefault {
  background: linear-gradient(180deg, #ffffff 0%, #A7DB8D 100%);
}

.slidecontainer {
  position: relative;
}

.slidecontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  position: relative;
  margin-top: 20px;
  border-width: 1px;
  margin-bottom: 10px;
}

.spritecontainer {
  display: flex;
  justify-content: center;
  min-width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
}

.spritebuttoncontainer {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.shinybutton {
  border-color: purple;
  border-width: 2px;
  z-index: 50;
}

/* Heading */
.frontbackbuttons .fbbutton h2 {
  padding-left: 0px;
  max-height: 30px;
  z-index: 5000;
}

.middlediv {
  display: inline-flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50px;
  min-width: 15px;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0;
  margin-right: 50px;
  padding-right: 75px;
  margin-left: -75px;
  align-self: flex-start;
  margin-top: 30px;
  border: 2px;
  border-color: red;
}

.textdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 15px;
  flex-direction: column;
  top: 0;
  margin-top: 10px;
}

/* Flip */
.backdiv {
  margin-left: 0px;
  width: 10%;
  height: 100%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer  when hovering over the thumbnail images */
.crsor {
  cursor: pointer;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: relative;
  top: 25%;
  width: 100vw;
  padding: 10px;
  margin-top: 100px;
  margin-left: 200spx;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px 2px 2px 2px;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(230, 214, 0, 0.8);
}

.temp-container-title {
  display: flex;
  top: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 2em;
  margin-bottom: 35px;
}

.title {
  margin-top: 3px;
  margin-left: 20px;
  padding-top: 0px;
  position: relative;
  margin-right: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.titletypelogo {
  padding-left: 20px;
  padding-right: 15px;
  height: 40px;
  align-self: center;
}

.titletypelogo2 {
  padding-left: 5px;
  height: 40px;
  margin-right: 10px;
  align-self: center;
}

/* Number text (1/3 etc) */
.numbertext {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  position: relative;
  pointer-events: none;
}

.leftcontainer {
  width: 20px;
}

.typeli, .li {
  font-family: "Heebo", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.sprite_back {
  width: 100px;
  position: relative;
}

.sprite_back:hover {
  filter: drop-shadow(1px 1px 1px gray);
}

/* Container for image text */
/* Six columns side by side */
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.shinylogo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5px;
  margin-right: 18px;
  padding-right: 5px;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.shinybutton {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  align-content: center;
  height: 20px;
  width: 30px;
  justify-content: center;
  border: 3px;
  border-radius: 5px;
  border-color: black;
  cursor: pointer;
  background-color: transparent;
  z-index: 50;
}

.shinybutton-2 {
  display: none;
}

#shinybutton::after {
  border-color: lightblue;
  color: pink;
  transform-style: drop-shadow;
  border: 3px;
  border-radius: 4px;
  color: red;
}

#shinysvg {
  display: inline-flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Heebo", sans-serif;
  align-self: center;
  font-size: 15px;
  margin-left: 10px;
  padding-right: 5px;
  filter: drop-shadow(3 4);
  max-height: 20px;
  height: 18px;
  filter: invert(100%) sepia(0%) saturate(1486%) hue-rotate(47deg) brightness(79%) contrast(87%);
  transition: color 0.5s;
  z-index: 60;
}

#middlediv:hover #shinysvg {
  color: rgb(255, 0, 255);
  filter: none;
}

#shinysvg:hover {
  filter: none;
  color: rgb(255, 0, 255);
}


.shinyAnim {
  position: relative;
  top: 10;
  left: 20;
  width: 100px;
  height: 30px;
  border-width: 2px;
  border-radius: 8px;
  border-color: pink;
}

#shiny, #sparkle {
  display: none;
}

#sparkleImg-before {
  display: none;
}

#sparkleImg-after {
  display: flex;
}

#sparkles {
  position: absolute;
  width: 606px;
  height: 506px;
  top: 0px;
  left: calc(30% - 128px);
  pointer-events: none;
}

#shinyAnim {
  position: relative;
  top: 10;
  left: 20;
  width: 100px;
  height: 30px;
  border-width: 2px;
  border-radius: 8px;
  border-color: pink;
}

#canvasId {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#pogoImg {
  position: relative;
  z-index: 2;
}

#canvasStyle {
  position: absolute;
  width: 256px;
  height: 256px;
  top: 48px;
  left: calc(50% - 128px);
  pointer-events: none;
}

/* Fbbutton */
.spritebuttoncontainer .frontbackbuttons .fbbutton {
  justify-content: space-between;
  align-self: center;
  display: inline-flex;
  max-height: 30px;
  z-index: 5000;
}

/* Span Tag */
.frontbackbuttons .fbbutton > span {
  padding-right: 0px;
  max-height: 30px;
  z-index: 5000;
}

/* Flip */
#flip {
  padding-right: 0.5px !important;
}

/* Image */
.poke-temp-container div .temp-container .container-back .topcontainer .pagecontainer .slidecontainer .spritecontainer .spritebuttoncontainer .frontbackbuttons .fbbutton span span img {
  width: 100% !important;
}

/* Heading */
.frontbackbuttons .fbbutton h2 {
  padding-left: 1px !important;
  z-index: 5000;
}

/* Shiny canvascss */
#shinyCanvasCSS {
  position: relative;
  width: 100%;
  top: auto;
  left: auto;
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
  height: 100%;
  transform: translatex(0px) translatey(0px) !important;
}

/* Shiny div */
#shinyDiv {
  position: absolute;
  top: -150px !important;
  left: auto !important;
  bottom: auto;
  right: auto !important;
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
}

/* Division */
#shinyDiv div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 75px;
  transform: translatex(0px) translatey(0px);
}

/* Container back */
.poke-temp-container div .container-back {
  transform: translatex(0px) translatey(0px);
}

/* Shiny button */
#shinybutton {
  transform: translatex(0px) translatey(0px) !important;
  right: auto !important;
  left: 400px;
  top: 250px !important;
  border-width: 2px;
  border-color: black;
  background-color: transparent;
  border-radius: 4px;
}

/* Templateinfodiv water */
#__next .poke-temp-container div .temp-container .container-back .topcontainer .pagecontainer .slidecontainer .templateinfodiv-water {
  width: auto !important;
  height: auto !important;
}

/* Slidecontainer */
.topcontainer .slidecontainer {
  transform: translatex(0px) translatey(0px) !important;
}

#__next {
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
}

/* Shin logo image div */
#shin-logo-image-div {
  width: 30px !important;
  height: 30px !important;
  max-width: 30px;
  max-height: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  float: none;
  cursor: pointer;
  top: 100px !important;
  left: 350px;
  transform: translatex(0px) translatey(0px);
  z-index: 150;
}

#shinylogoimage {
  display: flex;
  position: relative;
  pointer-events: cursor;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* Shiny canvascss */
#shinyCanvasCSS {
  transform: translatex(0px) translatey(0px);
  overflow: scroll;
  z-index: -20 !important;
}

/* Fbbutton */
.spritebuttoncontainer .frontbackbuttons .fbbutton {
  z-index: 5000 !important;
}

/* Frontbackbuttons */
.spritecontainer .frontbackbuttons {
  z-index: 50;
}

#shinyButtonCanvas .shinyButtonCanvas {
  display: flex;
  border-width: 1px;
  border-color: --grass-dark;
  border-radius: 4px;
  background-color: transparent;
  width: 200px;
  height: auto;
  top: 250px;
  left: 250px;
}

/* Image */
#__next .poke-temp-container div .temp-container .container-back .topcontainer .pagecontainer .slidecontainer .spritecontainer .spritebuttoncontainer > span span img {
  width: 300px !important;
  height: 300px !important;
}

/* Pogoimg */
#pogoimg {
  width: 350px !important;
}

/* Image */
.spritebuttoncontainer span span img {
  overflow: visible;
  min-width: 14%;
}

/* Fbbutton */
.spritebuttoncontainer .frontbackbuttons .fbbutton {
  display: flex;
  width: 60px;
  height: 20px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
}

/* Shiny button canvas */
#shinyButtonCanvas {
  border-width: 1px;
  border-color: #bebe02;
  border-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 10px;
  position: absolute;
  top: 129px;
  left: 300px;
  background-color: rgba(22, 160, 133, 0.81);
  transform: translatex(6px) translatey(-6px);
  background-image: linear-gradient(to right, #cac531 0%, #f3f9a7 100%);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: normal;
  background-position-x: 24%;
  background-position-y: 32%;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-repeat: repeat;
  -webkit-backdrop-filter: hue-rotate(51deg) saturate(1.95);
          backdrop-filter: hue-rotate(51deg) saturate(1.95);
  cursor: pointer;
  z-index: 562;
}

/* Shiny canvascss */
#shinyCanvasCSS {
  transform: translatex(0px) translatey(0px);
}/*# sourceMappingURL=tempphoto.css.map */