@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Signika+Negative:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
.poke-temp-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.poke-temp-container {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  top: 20px;
}

.temp-container {
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(147.16deg, #FFFFFF 9.64%, #FFFFFF 9.65%, #F0F0F0 84.25%);
}

.second-line-top-dark {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #705848;
}

.second-line-top-dragon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #7038F8;
}

.second-line-top-electric {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #F8D030;
}

.second-line-top-fairy {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #EE99AC;
}

.second-line-top-fighting {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #C03028;
}

.second-line-top-bug {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #A8B820;
}

.second-line-top-fire {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #F08030;
}

.second-line-top-flying {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #A890F0;
}

.second-line-top-ghost {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #705898;
}

.second-line-top-grass {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #78C850;
}

.second-line-top-ground {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #E0C068;
}

.second-line-top-ice {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #98D8D8;
}

.second-line-top-normal {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #A8A878;
}

.second-line-top-poison {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #A040A0;
}

.second-line-top-psychic {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #F85888;
}

.second-line-top-rock {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #B8A038;
}

.second-line-top-steel {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #B8B8D0;
}

.second-line-top-water {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 0.1em;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #6890F0;
}

.second-line-bottom-dark {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #705848;
}

.second-line-bottom-dragon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #7038F8;
}

.second-line-bottom-electric {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #F8D030;
}

.second-line-bottom-fairy {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #EE99AC;
}

.second-line-bottom-fighting {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #C03028;
}

.second-line-bottom-bug {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #A8B820;
}

.second-line-bottom-fire {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #F08030;
}

.second-line-bottom-flying {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #A890F0;
}

.second-line-bottom-ghost {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #705898;
}

.second-line-bottom-grass {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #78C850;
}

.second-line-bottom-ground {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #E0C068;
}

.second-line-bottom-ice {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #98D8D8;
}

.second-line-bottom-normal {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #A8A878;
}

.second-line-bottom-poison {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #A040A0;
}

.second-line-bottom-psychic {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #F85888;
}

.second-line-bottom-rock {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #B8A038;
}

.second-line-bottom-steel {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #B8B8D0;
}

.second-line-bottom-water {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  height: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #6890F0;
}

.templateinfodiv-bug {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #6D7815;
}

.templateinfodiv-dark {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #49392F;
}

.templateinfodiv-dragon {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #4924A1;
}

.templateinfodiv-electric {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #A1871F;
}

.templateinfodiv-fairy {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #9B6470;
}

.templateinfodiv-fighting {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #7D1F1A;
}

.templateinfodiv-fire {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #9C531F;
}

.templateinfodiv-flying {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #6D5E9C;
}

.templateinfodiv-ghost {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #493963;
}

.templateinfodiv-grass {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #4E8234;
}

.templateinfodiv-ground {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #927D44;
}

.templateinfodiv-ice {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #638D8D;
}

.templateinfodiv-normal {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #6D6D4E;
}

.templateinfodiv-poison {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #682A68;
}

.templateinfodiv-psychic {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #F85888;
}

.templateinfodiv-rock {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #786824;
}

.templateinfodiv-steel {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #787887;
}

.templateinfodiv-water {
  display: flex;
  align-items: center;
  width: 50%;
  min-width: 300px;
  max-width: 350px;
  height: 200px;
  border-width: 1px;
  font-family: "Heebo", sans-serif;
  border-radius: 10px;
  border-style: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  border-color: #445E9C;
}

.info-text {
  width: 100%;
  position: relative;
  z-index: 400;
  font-size: 1em;
}

.p caption-bug {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #6D7815;
}

.p caption-dark {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #49392F;
}

.p caption-dragon {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #4924A1;
}

.p caption-electric {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #A1871F;
}

.p caption-fairy {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #9B6470;
}

.p caption-fighting {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #7D1F1A;
}

.p caption-fire {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #9C531F;
}

.p caption-flying {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #6D5E9C;
}

.p caption-ghost {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #493963;
}

.p caption-grass {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #4E8234;
}

.p caption-ground {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #927D44;
}

.p caption-ice {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #638D8D;
}

.p caption-normal {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #6D6D4E;
}

.p caption-poison {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #682A68;
}

.p caption-psychic {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #F85888;
}

.p caption-rock {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #786824;
}

.p caption-steel {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #787887;
}

.p caption-water {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  color: #445E9C;
}

.p caption-bug:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-dark:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-dragon:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-electric:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-fairy:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-fighting:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-fire:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-flying:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-ghost:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-grass:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-ground:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-ice:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-normal:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-poison:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-psychic:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-rock:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-steel:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.p caption-water:hover {
  position: relative;
  font-size: 18px;
  position: relative;
  align-items: baseline;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  z-index: 10000;
  margin-left: 5px;
  font-size: 100px;
}

.fliptext {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-style: bold;
}

/* Position the image container (needed to position the left and right arrows) */
.topcontainer {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.balls {
  z-index: 1000;
  border: 1px;
  border-color: green;
}

.pagecontainer {
  display: flex;
  align-content: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  /* background: linear-gradient(180deg, #ffffff 0%, #78C850 100%); */
}

.frontbackbuttons {
  display: inline-flex;
  justify-content: space-evenly;
  align-content: center;
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  flex-wrap: no-wrap;
  padding-top: 30px;
  pointer-events: none;
}

.fbbutton {
  cursor: pointer;
  display: inline-flex;
  z-index: 500;
  top: 0;
  left: 0;
  position: relative;
  justify-content: center;
  width: auto;
  height: 30px;
  flex-wrap: no-wrap;
  border-width: 0.5px 0.5px 0.5px 0.5px;
  border-radius: 5px;
  border-color: rgb(54, 51, 51);
}

.backdefault {
  height: 100%;
  width: 100%;
  display: inline-flex;
  grid-area: default;
  z-index: 0;
  /* background-color: yellow; */
  width: 300px;
  opacity: 0.8;
}

#next:hover #picdefault {
  background: linear-gradient(180deg, #ffffff 0%, #A7DB8D 100%);
}

.slidecontainer {
  width: 600px;
  position: relative;
}

.slidecontainer {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  position: relative;
  margin-top: 20px;
  border-width: 1px;
  border-radius: 1px 1px 4px 4px;
  border-color: lightgrey;
  margin-bottom: 10px;
}

.spritecontainer {
  display: flex;
  justify-content: center;
  min-width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
}

.spritebuttoncontainer {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.frontbackbuttons {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: -30px;
  margin-bottom: 20px;
}

.middlediv {
  display: inline-flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50px;
  min-width: 15px;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 0;
  margin-right: 50px;
  padding-right: 75px;
  margin-left: -75px;
  align-self: flex-start;
  margin-top: 30px;
  border: 2px;
  border-color: red;
}

.textdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 15px;
  flex-direction: column;
  top: 0;
  margin-top: 10px;
}

#flip {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 20px;
  font-family: Heebo, sans-serif;
  font-size: 1rem;
  font-style: bold;
  text-transform: uppercase;
  align-self: center;
  pointer-events: none;
}

.fliptext {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 10px;
  margin: auto;
  pointer-events: none;
}

.backdiv {
  margin-left: 0px;
  width: 10%;
  height: 100%;
  position: relative;
}

.next:hover > #slidecontainer {
  background: linear-gradient(180deg, #ffffff 0%, #A7DB8D 100%);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer  when hovering over the thumbnail images */
.crsor {
  cursor: pointer;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: relative;
  top: 25%;
  width: auto;
  padding: 10px;
  margin-top: 100px;
  margin-left: 200spx;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px 2px 2px 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 300;
  border-radius: 3px 0 0 3px;
  border-color: linear-gradient(121.52deg, #A8B820 9.79%, #6D7815 24.44%, #C6D16E 65.12%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(light-green), to(green));
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(230, 214, 0, 0.8);
}

.temp-container-title {
  display: flex;
  top: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 2em;
  margin-bottom: 35px;
}

.container-back {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: content-box;
}

.title {
  margin-top: 3px;
  margin-left: 20px;
  padding-top: 0px;
  position: relative;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.titletypelogo {
  padding-left: 10px;
  padding-right: 5px;
  height: 40px;
  align-self: center;
}

.titletypelogo2 {
  padding-left: 5px;
  height: 40px;
  margin-right: 10px;
  align-self: center;
}

/* Number text (1/3 etc) */
.numbertext {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  position: relative;
  pointer-events: none;
  z-index: -100;
}

.leftcontainer {
  width: 20px;
}

.typeli, .li {
  font-family: "Heebo", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.sprite_back {
  width: 100px;
  position: relative;
}

.sprite_back:hover {
  filter: drop-shadow(1px 1px 1px gray);
}

/* Container for image text */
/* Six columns side by side */
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*# sourceMappingURL=tempphoto.css.map *//*# sourceMappingURL=tempphoto.css.map */