@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Signika+Negative:wght@500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
.poke-temp-container {
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.poke-temp-container {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    // flex-wrap: wrap;
    // width: 100em;
    height: auto;
    top: 20px;
    width: 100vw;

}

.temp-container {
    width: 100vw;
}

// @media (max-width: 550px) {
//     .temp-container {
//         width: 100%;
//     }
//     .poke-temp-container {
//         width: 100%;
//     }
//     .container-back {
//         width: 100vw;
//     }
//     .topcontainer {
//         width: 100vw;
//     }
//     .div {
//         width: 100em;
//     }

// }

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #d6d6d6;
    width: auto;
    margin: 0,0;
    padding: 0,0;
}

html {
    width: 100vw;
    margin: 0, 0;
    padding: 0, 0;
}

@mixin second-line-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    // background-color: #222;
    // padding: 1px 1px;
    padding: 0;
    height: 5px;
    position: relative;
    // width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    // width: 100vw;
    // height: 30px;
    // top: 250px;
}

@mixin second-line-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    // background-color: #222;
    // padding: 1px 1px;
    height: .1em;
    position: relative;
    // width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    // height: 30px;
    // top: 250px;
}

$darkcolors: ( "bug": #6D7815,
"dark": #49392F,
"dragon": #4924A1,
"electric": #A1871F,
"fairy": #9B6470,
"fighting": #7D1F1A,
"fire": #9C531F,
"flying": #6D5E9C,
"ghost": #493963,
"grass": #4E8234,
"ground": #927D44,
"ice": #638D8D,
"normal": #6D6D4E,
"poison": #682A68,
"psychic": #F85888,
"rock": #786824,
"steel": #787887,
"water": #445E9C,
);

$colorcolors: ( 
"dark": #705848,
"dragon": #7038F8,
"electric": #F8D030,
"fairy": #EE99AC,
"fighting": #C03028,
"bug": #A8B820,
"fire": #F08030,
"flying": #A890F0,
"ghost": #705898,
"grass": #78C850,
"ground": #E0C068,
"ice": #98D8D8,
"normal": #A8A878,
"poison": #A040A0,
"psychic": #F85888,
"rock": #B8A038,
"steel": #B8B8D0,
"water": #6890F0);

$types: ("grass","fire","fairy","water","rock","dark","ghost","ice","dragon","flying","steel","electric","poison","fighting","psychic","ground","bug","normal","grass");

@each $type,
$color in $colorcolors {
    .second-line-top-#{$type} {
        @include second-line-top;
        background-color: $color;
    }
}

@each $type,
$color in $colorcolors {
    .second-line-bottom-#{$type} {
        @include second-line-bottom;
        background-color: $color;
    }
}

// TEXT CSS CLASSES //
@mixin templateinfodiv {
    display: flex;
    align-items: center;
    width: 50%;
    min-width: 300px;
    max-width: 350px;
    height: 200px;
    // background-color: #cfcfcf;
    border-width: 1px;
    font-family: 'Heebo', sans-serif;
    border-radius: 10px;
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
}

@each $type,
$color in $darkcolors {
    .templateinfodiv-#{$type} {
        @include templateinfodiv;
        border-color: $color;
    }
}

@mixin backcontainershiny {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container-back {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    // width: 100%;
    height: auto;
    // box-sizing: content-box;
    background: linear-gradient(147.16deg, #FFFFFF 9.64%, #FFFFFF 9.65%, #F0F0F0 84.25%);
    background-size: cover;
    padding-right: 500px;
    // background: linear-gradient(147.16deg, #FFFFFF 9.64%, #FFFFFF 9.65%, #F0F0F0 84.25%); 
}


.container-back-shiny {
    @include backcontainershiny;
    // width: 100%;
    // height: auto;
    // box-sizing: content-box;
    background: rgb(19,0,38);
    // background-size: cover;
    // background-position: 30, 0;
    background: radial-gradient(ellipse at 35% 55%, rgba(19,0,38,1) 0%, rgba(98,80,181,1) 15%, rgba(172,159,233,1) 25%, rgba(213,213,218,1) 35%, rgba(255,255,255,1) 50%);
}


@each $type,
$gradient in $types {
    .backcontainer-shiny-#{$type} {
        @include backcontainershiny;
        background-image:linear-gradient(105deg,
        gradient(var(#{$type}-color), from),
        gradient(var(#{$type}-dark), to));
        &.inverse {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-image-source:linear-gradient(100deg,
            gradient(var(#{$type}-color), from),
            gradient(var(#{$type}-dark), to));
        }
    }
}

.info-text {
    width: 100%;
    position: relative;
    // top: 60;
    // left: 50;
    font-size: 1em;
}

@mixin caption {
    position: relative;
    // margin-bottom: 120px;
    font-size: 18px;
    position: relative;
    align-items: baseline;
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    // margin-right: 185px;
    font-weight: bold;
    padding-left: 5px;
    margin-left: 5px;
}

@each $type,
$color in $darkcolors {
    .p caption-#{$type} {
        @include caption;
        color: $color;
    }
}

@each $type,
$color in $darkcolors {
    .p caption-#{$type}:hover {
        @include caption;
        font-size: 100px;
    }
}

.fliptext {
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    font-style: bold;
    padding-left: 3px;
}

#sparkleImg::before {
    position: absolute;
    opacity: 0;
}

#sparkleImg::after {
    opacity: .6;
}

.sparkling-style-none {
    opacity: 0;
}

.sparkling-style-flash {
    opacity: .4;
}

//colors
$bug-light: #C6D16E;
$bug-dark: #6D7815;
$dark-color: #705848;
$dark-light: #A29288;
$dark-dark: #49392F;
$dragon-color: #7038F8;
$dragon-light: #A27DFA;
$dragon-dark: #4924A1;
$electric-color: #F8D030;
$electric-light: #FAE078;
$electric-dark: #A1871F;
$fairy-color: #EE99AC;
$fairy-light: #F4BDC9;
$fairy-dark: #9B6470;
$fighting-color: #C03028;
$fighting-light: #D67873;
$fighting-dark: #7D1F1A;
$fighting-hover: #D67873;
// SASS Variables - Poketype color palette //
$bug-color: #A8B820;
$bug-light: #C6D16E;
$bug-dark: #6D7815;
$dark-color: #705848;
$dark-light: #A29288;
$dark-dark: #49392F;
$dragon-color: #7038F8;
$dragon-light: #A27DFA;
$dragon-dark: #4924A1;
$electric-color: #F8D030;
$electric-light: #FAE078;
$electric-dark: #A1871F;
$fairy-color: #EE99AC;
$fairy-light: #F4BDC9;
$fairy-dark: #9B6470;
$fighting-color: #C03028;
$fighting-light: #D67873;
$fighting-dark: #7D1F1A;
$fighting-hover: #D67873;
// $fire-color: #F08030;
// $fire-light: #F5AC78;
// $fire-dark: #9C531F;
$fire-color: orange;
$fire-light: #F5AC78;
$fire-dark: #9C531F;
$flying-color: #A890F0;
$flying-light: #C6B7F5;
$flying-dark: #6D5E9C;
$ghost-color: #705898;
$ghost-light: #A292BC;
$ghost-dark: #493963;
$grass-color: #78C850;
$grass-light: #A7DB8D;
$grass-dark: #4E8234;
$ground-color: #E0C068;
$ground-light: #EBD69D;
$ground-dark: #927D44;
$ice-color: #98D8D8;
$ice-light: #BCE6E6;
$ice-dark: #638D8D;
$normal-color: #A8A878;
$normal-light: #C6C6A7;
$normal-dark: #6D6D4E;
$poison-color: #A040A0;
$poison-light: #C183C1;
$poison-dark: #682A68;
$psychic-color: #F95587;
$psychic-light: #FA92B2;
$psychic-dark: #F85888;
$rock-color: #B8A038;
$rock-light: #D1C17D;
$rock-dark: #786824;
$steel-color: #B8B8D0;
$steel-light: #D1D1E0;
$steel-dark: #787887;
$water-color: #6890F0;
$water-dark: #445E9C;
$water-light: #9DB7F5;
$bug-light: #C6D16E;
$bug-dark: #6D7815;
$dark-color: #292624;
$dark-light: #A29288;
$dark-dark: #49392F;
$dragon-color: #7038F8;
$dragon-light: #A27DFA;
$dragon-dark: #4924A1;
$electric-color: #F8D030;
$electric-light: #FAE078;
$electric-dark: #A1871F;
$fairy-color: #EE99AC;
$fairy-light: #F4BDC9;
$fairy-dark: #9B6470;
$fighting-color: #C03028;
$fighting-light: #D67873;
$fighting-dark: #7D1F1A;
$fighting-hover: #D67873;
$d: a;

/* Position the image container (needed to position the left and right arrows) */

.topcontainer {
    display: flex;
    position: relative;
    // width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.balls {
    border: 1px;
    border-color:green;
}





.pagecontainer {
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    // width: 100%;
    height: auto;
    justify-content: center;
    /* background: linear-gradient(180deg, #ffffff 0%, #78C850 100%); */
}

.pagecontainer-shiny {
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    // background: rgb(19,0,38);
    // background-size: cover;
    // background-position: 30, 0;
    // background: radial-gradient(circle at 30% 50%, rgba(19,0,38,1) 17%, rgba(98,80,181,1) 31%, rgba(172,159,233,1) 37%, rgba(213,213,218,1) 53%, rgba(255,255,255,1) 67%);
}

// @media (max-width: 963px) {
//     .back-container-shiny {
//     background-position: 30, 0;
//     background: radial-gradient(circle at 44% 40%, rgba(19,0,38,1) 17%, rgba(98,80,181,1) 31%, rgba(172,159,233,1) 37%, rgba(213,213,218,1) 43%, rgba(255,255,255,1) 69%);
//     }
// }

.frontbackbuttons {
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    flex-wrap: no-wrap;
    padding-top: 30px;
    cursor: pointer;
    // border: .5px;
    // border-radius: 4px;
    // border-color: rgb(26, 25, 25);
}

.fbbutton {
    cursor: pointer;
    display: inline-flex;
    top: 0;
    left: 0;
    position: relative;
    justify-content: center;
    justify-items: center;
    width: auto;
    height: 30px;
    flex-wrap: no-wrap;
    border-width: .5px .5px .5px .5px;
    border-radius: 5px;
    border-color: rgb(54, 51, 51);
}




// .shinyfront {
//     display: inline-block;
//     width: 200px;
// }

// .picdefault {
//   display: inline-block;
//   grid-area: default;
//   position: relative;
//   /* background-color: yellow; */
//   width: 300px;
// }

.backdefault {
    height: 100%;
    display: inline-flex;
    grid-area: default;
    /* background-color: yellow; */
    width: 300px;
    opacity: .8;
    z-index: 10;
}

#next:hover #picdefault {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#A7DB8D));
    background: linear-gradient(180deg, #ffffff 0%, #A7DB8D 100%);
}
  .slidecontainer {
    //   width: 100%;
      position: relative;
  }

.slidecontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    // align-items: center;
    // width: 100%;
    position: relative;
    margin-top: 20px;
    border-width: 1px;
    margin-bottom: 10px;
    
}

// .slide-container-shiny {
//     display: flex;
//     flex-wrap: wrap;
//     width: 100vw;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     // align-items: center;
//     // width: 100%;
//     position: relative;
//     margin-top: 20px;
//     margin-bottom: 10px;
//     background: radial-gradient(ellipse 50%, 90%, rgba(19,0,36,1) 65%, rgb(255, 0, 212) 86%, rgb(85, 255, 0) 100%);
//     opacity: .9;
// }


.spritecontainer {
    display: flex;
    justify-content: center;
    min-width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    align-items: center;
    ;
}

.spritebuttoncontainer {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    
}

.shinybutton {
    border-color: purple;
    border-width: 2px;
}

.frontbackbuttons {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: -30px;
    margin-bottom: 20px;
    
    // top: 275px;
    // margin-left: 100px;
    // margin-bottom: 10px;
    // padding-left: 10px;
    // margin-right: 10px;
}

.middlediv {
    display: inline-flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50px;
    min-width: 15px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    margin-right: 50px;
    padding-right: 75px;
    margin-left: -75px;
    align-self: flex-start;
    margin-top: 30px;
    // margin-top: 10px;
    border: 2px;
    border-color: red;
}

.textdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    min-width: 15px;
    // position: relative;
    flex-direction: column;
    top: 0;
    margin-top: 10px;
}

#flip {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 20px;
    font-family: Heebo, sans-serif;
    font-size: 1rem;
    font-style: bold;
    text-transform: uppercase;
    align-self: center;
    cursor: pointer;
    // pointer-events: none;
}

.fliptext {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin: auto;
    // pointer-events: none;
    cursor: pointer;
}


.backdiv {
    margin-left: 0px;
    width: 10%;
    height: 100%;
    position: relative;
    
}

// .next:hover>#slidecontainer {
//     background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#A7DB8D));
//     background: linear-gradient(180deg, #ffffff 0%, #A7DB8D 100%);
    
// }


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Add a pointer  when hovering over the thumbnail images */

.crsor {
    cursor: pointer;
}


/* Next & previous buttons */

.next {
    cursor: pointer;
    position: relative;
    top: 25%;
    width: 100vw;
    padding: 10px;
    margin-top: 100px;
    margin-left: 200spx;
    // background: linear-gradient(121.52deg, $bug-color 9.79%, $bug-dark 24.44%, $bug-light 65.12%);
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px 2px 2px 2px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

// .div {
//     display: flex;
//     right: 300;
//     border-radius: 3px 0 0 3px;
//     border-color: linear-gradient(121.52deg, $bug-color 9.79%, $bug-dark 24.44%, $bug-light 65.12%);
//     background-image: -webkit-gradient(linear, left top, left bottom, from(light-green), to(green));
//     width: 100vw;
//     // background-image: liwwwwwwwwwwwwwwwnear-gradient(180deg, light-green 0%, green 100%);
// }

// @media (max-width: 340px) {
//     .container-back {
//         width: 100vw;
//     }
// }

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    color: rgba(230, 214, 0, 0.8);
}

.temp-container-title {
    display: flex;
    top: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 2em;
    margin-bottom: 35px;
}




.title {
    margin-top: 3px;
    margin-left: 20px;
    padding-top: 0px;
    position: relative;
    margin-right: 5px;
    // display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    // margin-top: 40px;
    // align-items: flex-start;
}

.titletypelogo {
    // padding-top: 15px;
    // position: absolute;
    padding-left: 20px;
    padding-right: 15px;
    height: 40px;
    // top: 50px;
    // left: 300px;
    // margin-right: 10px;
    // margin-top: 10px;
    align-self: center;
    // filter: drop-shadow(2px gray);
    // border-radius: 3px 2px 3px 40px;
}

.titletypelogo2 {
    // padding-top: 15px;
    // position: absolute;
    padding-left: 5px;
    height:40px;
    // top: 50px;
    // left: 300px;
    margin-right: 10px;
    // margin-top: 10px;
    align-self: center;
    // filter: drop-shadow(2px gray);
    // border-radius: 3px 2px 3px 40px;
}


/* Number text (1/3 etc) */

.numbertext {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    // top: 100px;
    // right: 50px;
    position: relative;
    pointer-events: none;
}

.leftcontainer {
    width: 20px;
}

.typeli, .li {
    font-family: 'Heebo', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.sprite_back {
    width: 100px;
    position: relative;
    
}

.sprite_back:hover {
    -webkit-filter: drop-shadow(1px 1px 1px gray);
    filter: drop-shadow(1px 1px 1px gray);
    
}


/* Container for image text */

// .row:after {
//     content: "";
//     display: table;
//     clear: both;
// }

/* Six columns side by side */

// .column {
//   position: absolute;
//   top: 0;
//   float: center;
//   width: 20%;
// }

/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}



.shinylogo {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5px;
    margin-right: 18px;
    padding-right: 5px;
    height: 20px;
    width: 20px;
}

.shinybutton {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 100%;
    width: auto;
    justify-content: center;
    border: 1px;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    background-color: #FFFFFF;
}

.shinybutton-2 {
    display: none;
}

#shinybutton::after {
    border-color: lightblue;
    color: pink;
    transform-style: drop-shadow;
    border: 3px;
    border-radius: 4px;
    color: red;
}

#shinysvg {
    display: inline-flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Heebo', sans-serif;
    align-self: center;
    font-size: 15px;
    margin-left: 10px;
    padding-right: 5px;
    filter: drop-shadow(3 4);
    max-height: 20px;
    height: 18px;
    filter: invert(100%) sepia(0%) saturate(1486%) hue-rotate(47deg) brightness(79%) contrast(87%);
    transition: color .5s;
    z-index: 60;
    }                                                                         

#middlediv:hover #shinysvg {
    color: rgb(255, 0, 255);
    filter: none;
}

// #middlediv::after #shinysvg {
//     color: yellow;
// }

#shinysvg:hover {
    filter: none;
    color:rgb(255, 0, 255);
}
/*# sourceMappingURL=tempphoto.css.map */



.shinyAnim {
    position: relative;
    top: 10;
    left: 20;
    width: 100px;
    height: 30px;
    border-width: 2px;
    border-radius: 8px;
    border-color: pink;
  }

  #shiny, #sparkle { display: none; }

  #sparkleImg-before {
      display: none;
    //   width: 40px;
    //   height: 40px;
  }

  #sparkleImg-after {
      display: flex;
  }

  #sparkles {
    position: absolute;
    width: 606px;
    height: 506px;
    top:0px;
    left:calc(30% - 128px);
    pointer-events: none;
  }
  
  
  #shinyAnim {
    position: relative;
    top: 10;
    left: 20;
    width: 100px;
    height: 30px;
    border-width: 2px;
    border-radius: 8px;
    border-color: pink;
  }

  #canvasId {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
  }

  #pogoImg {
      position: relative;
      z-index: 2;
  }

  #particles {
      
  }

  #canvasStyle {
    position: absolute;
    width: 256px;
    height: 256px;
    top: 48px;
    left:calc(50% - 128px);
    pointer-events: none;   
  }